.University {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Name {
  font-size: 48px;
  font-weight: bold;
}

.Location {
  font-size: 24px;
  color: #666;
}

.ListContainer {
  width: 40%;
  text-align: center;
}

.Splitter {
  display: flex;
  flex-direction: row;
}

.SplitSide {
  width: 45%;
}
