.Apartment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('../../views/SplashPage/harvard.png');
}

.Name {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.Location {
  font-size: 24px;
  color: #666;
  font-family: 'Times New Roman', Times, serif;
}

.ListContainer {
  width: 40%;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.Splitter {
  display: flex;
  flex-direction: row;
  font-family: 'Times New Roman', Times, serif;
}

.SplitSide {
  width: 45%;
  font-family: 'Times New Roman', Times, serif;
}

.ul {
  columns: 100px 4;
  border-style: solid;
  background-color: #ddd;
  padding-bottom: 20px;
}

.imgCols {
  float: left;
  object-fit: cover;
  padding: 5px;
}

img {
  width: 300px;
  height: 300px;
  border: 5px solid #555;
}

.map {
  border: 5px solid #555;
}

.middleText {
  background-color: #ddd;
  border-style: solid;
  text-align: center;
}

.labels {
  background-color: rgb(201, 227, 235);
  border-style: solid;
  text-align: center;
}
