.OurNavbar {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: yellowgreen;
  font-family: 'Oswald', sans-serif;
  float: right;
}
.searchButton {
   backgroundColor: blue;
   borderColor: blue;
   color: black;
   fontSize: 2.0vw ;
   float: right;
}

<<<<<<< HEAD
.brand {
  padding: 0px 10px;
  float: right;
}
=======
.tabs {
  color: white;
  fontFamily: 'Oswald';
  fontSize: 1.1vw;
  display: flex;
  padding: 1.1vw;
  font-weight: bold;
  float: right;
} 

.bar {
   background-color: blue;
   border-color: blue;
}


>>>>>>> moved search to views
