.PopoverButton {
  background-color: white;
}

.IconAdjust {
  margin-top: -4px;
  color: black;
  width: 20px;
  height: 20px;
}

.InputDiv {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.Input {
  margin: 0 4px;
}

.TitleSplitter {
  display: flex;
  justify-content: space-between;
}

.OptionHeader {
  color: #555;
}
