uWSGI==2.0.19.1
flask
flask-restful
SQLAlchemy
requests
flask-cors
flask-SQLAlchemy
flask_sqlalchemy
flask-marshmallow
flask-restless
marshmallow-sqlalchemy
python-dotenv
gunicorn
black
selenium
yelpapi
googlemaps
us
apify-client
psycopg2-binary