.Entertainment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('../../views/SplashPage/harvard.png');
}

.Name {
  font-size: 48px;
  font-weight: bold;
}

.Location {
  font-size: 24px;
  color: #666;
}

.Splitter {
  display: flex;
  flex-direction: row;
}

.SplitSide {
  width: 45%;
}

.InlineLink {
  display: inline;
  padding: 0;
}
.middleText {
  background-color: #eee;
  border-style: solid;
}

.imgCols {
  float: left;
  object-fit: cover;
  padding: 5px;
}

.ul {
  columns: 100px 4;
  border-style: solid;
  background-color: #eee;
  padding-bottom: 20px;
}

.labels {
  background-color:  rgb(201, 227, 235);
  border-style: solid;
}
