.Centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About {
  text-align: center;
}

.Title {
  font-size: 48px;
  font-weight: bold;
}

.Section {
  color: maroon;
  font-size: 36px;
  font-weight: bold;
}

.Info {
  font-size: 24px;
}
