.Centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About {
  text-align: center;
}

.Title {
  font-size: 48px;
  font-weight: bold;
}

.Section {
  color: maroon;
  font-size: 36px;
  font-weight: bold;
}

.Info {
  font-size: 24px;
}

.BigLogoContainer {
  width: 240px;
  height: 240px;
  margin: 12px 24px;
}

.BigLogo {
  width: 240px;
  height: 240px;
}
