.Centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.About {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(153, 152, 152);
}

.Title {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.Section {
  color: maroon;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.Info {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.BigLogoContainer {
  width: 240px;
  height: 240px;
  margin: 12px 24px;
}

.BigLogo {
  width: 240px;
  height: 240px;
}
