.Universities {
  text-align: center;
  background-image: url('../SplashPage/harvard.png');
}

.UniversitySplitter {
  display: flex;
}

.SplitterGrid {
  width: 75%;
  margin: 0 24px;
}

.SplitterInfo {
  width: 25%;
  margin-right: 12px;
}

.RadioButtonDiv {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.RadioButton {
  margin: 0 4px;
}

.Header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
}

.Filter {
  border-style: solid;
  background-color: #ddd;
}
