.Centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UniversityGridContainer {
  display: grid;
  width: 720px;

  grid-template-columns: repeat(3, 1fr);

  grid-gap: 12px;

  align-items: center;
  justify-content: center;
}

.UniversityCard {
  height: 240px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: #ddd;
  color: #222;
}
